@model List<LkUgtu.Models.VakansDTO>
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Список вакансий</h4>
        </div>
        <div class="modal-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>
                            #
                        </th>
                        <th >
                           Должность
                        </th>
                        <th>
                            Предприятие
                        </th>
                        <th>
                           ЗП
                        </th>
                        <th>
                           Занятость
                        </th>
                        <th>
                            График
                        </th>
                        <th>
                            Доп инфо
                        </th>  
                    </tr>
                </thead>
                <tbody>
                @for(int i=0; i<Model.Count();i++)
                {
                    <tr >
                        <td>
                            #@i
                        </td>
                        <td>@Model[i].post</td>
                        <td>@Model[i].company</td>
                        <td>@Model[i].salary</td>
                        <td>@Model[i].employment</td>
                        <td>@Model[i].schedule</td>
                        <td>@Model[i].otherInfo</td>
                        
                    </tr>
                }
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <div class="pull-left">
                <h5 class="pull-right">Всего  вакансий: @Model.Count()</h5>
            </div>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close1</button>
            <button type="button" class="btn btn-primary">Close2</button>
        </div>
    </div>
</div>

