@model  LkUgtu.Models.IndexRegisrationDTO
<div class="panel panel-danger">
    <div class="panel-heading">
        <h3 style="margin: 0;">
            Поиск работы
        </h3>
    </div>
    <div class="panel-body" style="padding: 0;">
        <div class="centered" style="background-color: #f5f5f5">
            <ul class="nav nav-justified">
                <li id="buttHistoryRegistration">
                    <a style="padding: 5px" title="История обращений" class="btn btn-link btn-sm"><span class="glyphicon glyphicon-list-alt"></span></a>
                </li>
                @{ 
                    if (!Model.state)
                    {
                <li id="buttAddRegistration">
                    <a style="padding: 5px" title="Хочу найти работу" class="btn btn-link btn-sm"><span class="glyphicon glyphicon-plus"></span></a>
                </li>
                    }
                    else
                    {
                <li id="buttCloseRegistration">
                    <a style="padding: 5px" title="Больше не ищу работу" class="btn btn-link btn-sm"><span class="glyphicon glyphicon-ban-circle"></span></a>
                </li>
                <li id="buttEditRegistration">
                    <a style="padding: 5px" title="Хочу уточнить предпочтения по поиску работы" class="btn btn-link btn-sm"><span class="glyphicon glyphicon-cog"></span></a>
                </li>
                    }
                }
              
            </ul>
        </div>
        <div class="panel-body" style="padding-bottom: 5px">
            <p>Состояние: @Model.state</p>
            <p>Общее число обращений: @Model.countReg </p>
        </div>
    </div>
</div>
<div class="modal fade" id="myModalForRegistration">
</div>

<script>
    $('#myModalForRegistration').on('click','#buttSubmit', function () {
        $.post('@Url.Action("EditRegistrationSave")', $('#contRegistr').serialize(),
        function (data) {
            alert('save');
            $('#myModalForRegistration').appendTo('body').modal('hide');
        }, 'json');
    });
    $('#buttAddRegistration').click(function () {
        var url = "@Url.Action("GetModalAddRegistration")";
        $.get(url, function (data) {
            $('#myModalForRegistration').html(data);
            $('#myModalForRegistration').appendTo('body').modal('show');
            $('#myModalForRegistration').find('#inputDateAdd').val(new Date().toLocaleDateString());
            $('#myModalForRegistration').find('#inputDateAdd').datepicker({ format: 'dd.mm.yyyy', language: 'ru' });
        });
    });
    $('#buttEditRegistration').click(function () {
        var url = "@Url.Action("GetModalEditRegistration")";
        $.get(url, function (data) {
            $('#myModalForRegistration').html(data);
            $('#myModalForRegistration').appendTo('body').modal('show');
            $('#myModalForRegistration').find('#inputDateAdd').datepicker({ format: 'dd.mm.yyyy', language: 'ru' });
        });
    });
    $('#buttHistoryRegistration').click(function () {
        var url = "@Url.Action("GetModalHistoryRegistration")";
        $.get(url, function (data) {
            $('#myModalForRegistration').html(data);

            $.ajax({
                url: '@Url.Action("GetAllRegs")',
                contentType: "application/json",
                dataType: "json",
                success: function (registrations) {
                    for (var i = 0; i < registrations.length; i++) {
                        $('#tableRegList').append(
                            $(document.createElement('tr'))
                            .append(
                                $(document.createElement('td'))
                                    .append(
                                        $(document.createElement('span'))
                                        .html(i+1)))
                            .append(
                                $(document.createElement('td'))
                                    .append(
                                        $(document.createElement('span'))
                                        .html(registrations[i].employment.name)))
                            .append(
                                $(document.createElement('td'))
                                    .append(
                                        $(document.createElement('span'))
                                        .html(registrations[i].otherInfo)))
                            .append(
                                $(document.createElement('td'))
                                    .append(
                                        $(document.createElement('span'))
                                        .html('file')))
                            .append(
                                $(document.createElement('td'))
                                    .append(
                                        $(document.createElement('span'))
                                        .html((registrations[i].dateRegistration == null) ? '' : new Date(parseInt(registrations[i].dateRegistration.substr(6))).toLocaleDateString())))
                            .append(
                                $(document.createElement('td'))
                                    .append(
                                        $(document.createElement('span'))
                                        .html((registrations[i].dateUnRegistration == null) ? '' : new Date(parseInt(registrations[i].dateUnRegistration.substr(6))).toLocaleDateString())))
                            .append(
                                $(document.createElement('td'))
                                    .append(
                                        $(document.createElement('span'))
                                        .html(registrations[i].reasonClose.name)))
                                        );
                    }
                    $('#myModalForRegistration').appendTo('body').modal('show');
                }
            });
        });
    });
    $('#myModalForRegistration').on('click', '#buttSubmit', function () {
        $.post('@Url.Action("...")', $('#...').serialize(),
        function (data) {
            alert('save');
            $('#myModalForRegistration').appendTo('body').modal('hide');
        }, 'json');
    });
    $('#buttCloseRegistration').click(function () {
        var url = "@Url.Action("GetModalCloseRegistration")";
        $.get(url, function (data) {
            $('#myModalForRegistration').html(data);
            $('#myModalForRegistration').appendTo('body').modal('show');
            $('#myModalForRegistration').find('#inputDateClose').val(new Date().toLocaleDateString());
            $('#myModalForRegistration').find('#inputDateClose').datepicker({ format: 'dd.mm.yyyy', language: 'ru' });
        });
    });
</script>