@model  LkUgtu.Models.IndexTrudousrDTO
<div class="panel panel-success">
    <div class="panel-heading">
        <h3 style="margin: 0;">
            Трудоустройство
        </h3>
    </div>
    <div class="panel-body" style="padding: 0;">
        <div class="centered" style="background-color: #f5f5f5">
            <ul class="nav nav-justified">
                <li id="buttAddTrudoustr">
                    <a style="padding: 5px" title="Добавить трудоустройсво" class="btn btn-link btn-sm"><span class="glyphicon glyphicon-plus"></span></a>
                </li>
                <li id="buttViewTrudoustrList">
                    <a style="padding: 5px" title="Все мои трудоустройства" class="btn btn-link btn-sm"><span class="glyphicon glyphicon-eye-open"></span></a>
                </li>
                <!--<li>
                    <a style="padding: 5px" title="Внести поправку к уже имеющимся трудоустройствам" class="btn btn-link btn-sm"><span class="glyphicon glyphicon-cog"></span></a>
                </li>-->
            </ul>
        </div>
        <div class="panel-body" style="padding-bottom: 5px">
            <p>Общее число трудоустройств: @Model.countTridoustr </p>
            <p>Общее число практик: @Model.countPraktik</p>
        </div>
    </div>
</div>

<script>


    $('#buttAddTrudoustr').click(function () {
        var url = "@Url.Action("GetModalAddTrudoustr")";
        $.get(url, function (data) {
            $('#myModal').html(data);
            $('#myModal').appendTo('body').modal('show');
            $('#inputDateAdd').val(new Date().toLocaleDateString());
            $('#inputDateStart').datepicker({ format: 'dd.mm.yyyy', language: 'ru' });
            $('#inputDateStop').datepicker({ format: 'dd.mm.yyyy', language: 'ru' });
            $('#inputDateAdd').datepicker({ format: 'dd.mm.yyyy', language: 'ru' });
            $.get('/Base/AutocompletePred', function (data) {
                $('#inputPredpr').typeahead({ source: data });
            });
            $.get('/Base/AutocompletePost', function (data) {
                $('#inputPost').typeahead({ source: data });
            });
            $.get('/Base/AutocompleteDepartment', function (data) {
                $('#inputDepartment').typeahead({ source: data });
            });

        });
    });

    $('#buttViewTrudoustrList').click(function () {
        var url = "@Url.Action("GetModalViewTrudoustrList")";
        $.get(url, function (data) {
            $('#myModal').html(data);
            $('#myModal').appendTo('body').modal('show');
            //$('#tableVakansList')
            //    .append(
            //    $(document.createElement('div')).attr({
            //        class:'progress'
            //    })
            //        .append(
            //            $(document.createElement('div')).attr({
            //                class: 'progress-bar progress-bar-striped active'
            //                ,role: 'progressbar'
            //                ,'aria-valuenow': '50'
            //                ,'aria-valuemin': '0'
            //                ,'aria-valuemax': '100'
            //                ,style:'width:50%'
            //            }).html('50%')));
            $.ajax({
                url: '@Url.Action("GetAllTrudoustr")',
                data: { idStud: '29124' },
                contentType: "application/json",
                dataType: "json",
                success: function (tr) {
                    for (var i = 0; i < tr.length; i++) {
                        $('#tableTrudoustrList')
                             .append(
                             $(document.createElement('tr'))
                               .append(
                                 $(document.createElement('td'))
                                     .append(
                                     $(document.createElement('a')).attr({
                                         'class': 'glyphicon glyphicon-pencil editTrud'
                                         ,data:tr[i].idTrud
                                     })))
                                  .append(
                                 $(document.createElement('td'))
                                     .append(
                                     $(document.createElement('span')).html(i + ". " + tr[i].post.name)))
                                  .append(
                                 $(document.createElement('td'))
                                     .append(
                                     $(document.createElement('span')).html(tr[i].company.name)))
                                  .append(
                                 $(document.createElement('td'))
                                     .append(
                                     $(document.createElement('span')).html((tr[i].department == null) ? '' : tr[i].department)))
                                  .append(
                                 $(document.createElement('td'))
                                     .append(
                                     $(document.createElement('span')).html((tr[i].dateStart == null) ? '' : new Date(parseInt(tr[i].dateStart.substr(6))).toLocaleDateString() + ' - ' + new Date(parseInt(tr[i].dateStop.substr(6))).toLocaleDateString())))
                                  .append(
                                 $(document.createElement('td'))
                                     .append(
                                     $(document.createElement('span')).html(tr[i].salary)))
                                        .append(
                                 $(document.createElement('td'))
                                     .append(
                                     $(document.createElement('span')).html(tr[i].otherInfo)))
                                 .append(
                                 $(document.createElement('td'))
                                     .append(
                                     $(document.createElement('span')).html(new Date(parseInt(tr[i].dateCall.substr(6))).toLocaleDateString())))
                                .append(
                                 $(document.createElement('td'))
                                     .append(
                                     $(document.createElement('span')).html((tr[i].isWorkSpecialty)?'Да':'Нет')))
                                .append(
                                 $(document.createElement('td'))
                                     .append(
                                     $(document.createElement('span')).html((tr[i].withSpravka)?'Да':'Нет')))
                                .append(
                                 $(document.createElement('td'))
                                     .append(
                                     $(document.createElement('span')).html((tr[i].isPractik)?'Да':'Нет'))));

                    }
                }
            });

        });
    });
    $(document).on('click', '.editTrud', function () {
        var idt = $(this).attr('data');
        var url = "@Url.Action("GetModalViewTrudoustrEdit")";
        $.get(url, function (data) {
            $('#myModalEdit').html(data);
            $('#myModalEdit').appendTo('body').modal('show');
        });

        $.ajax({
            url: '@Url.Action("GetTrudoustr")',
            data: { idTrud: idt },
            contentType: "application/json",
            dataType: "json",
            success: function (tr) {
                var t = tr[0];
                $('#inputPredpr').val(t.company.name);
                $('#inputPost').val(t.post.name);
                $('#inputDepartment').val(t.department);
                $('#inputSalary').val(t.salary);
                $('#inputDateStart').val(new Date(parseInt(t.dateStart.substr(6))).toLocaleDateString());
                $('#inputDateStop').val(new Date(parseInt(t.dateStop.substr(6))).toLocaleDateString());
                $('#inputOtherInfo').val(t.otherInfo);
                $('#checkIsSpeciality').val(t.isWorkSpecialty);
                $('#checkWithSpravka').val(t.withSpravka);
                $('#checkIsPraktik').val(t.isPractik);
                $('#inputDateAdd').val(new Date(parseInt(t.dateCall.substr(6))).toLocaleDateString());
                $('#inputDateStart').datepicker({format:'dd.mm.yyyy', language:'ru'});
                $('#inputDateStop').datepicker({format: 'dd.mm.yyyy', language: 'ru' });
                $('#inputDateAdd').datepicker({ format: 'dd.mm.yyyy', language: 'ru' });
                $.get('/Base/AutocompletePred', function (data) {
                    $('#inputPredpr').typeahead({ source: data });
                });
                $.get('/Base/AutocompletePost', function (data) {
                    $('#inputPost').typeahead({source:data});
                });
                $.get('/Base/AutocompleteDepartment', function (data) {
                    $('#inputDepartment').typeahead({ source: data });
                });
            }
        });

    });
    $(document).on('click', '#buttSubmit', function () {
        $.post('@Url.Action("SendTrud")', $('#contTrud').serialize(),
        function (data) {
            alert('a');
        }, 'json');

      @*  $('#contTrud').attr
        $('#contTrud').submit(function (event) {

        });
        var formdata = new FormData($('#contTrud'));
        $.ajax({
            url: '@Url.Action("SendTrud")',
            data: formdata,
            contentType: "application/json",
            dataType: "json",
            success: function (data) {

            }
        });*@

    });
</script>